notebooks/outputs/*
!notebooks/outputs/*.txt
!notebooks/outputs/*.csv
!notebooks/outputs/*.sql

local/

.ipynb_*
notebooks/.ipynb_checkpoints/Unpack XML Signatures-checkpoint.ipynb
*.~lock*
notebooks/outputs/all_codelists_by_host.txt

notebooks/outputs/responses_with_json.csv

